/***************
 Variables
***************/
:root {
    --color-brand: #40BFB4;
    --color-grey-dark: #231F20;
    --color-grey-mid: #333132;
    --color-grey-light: #E8E5E2;
}

/***************
 Normalize
***************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/***************
 Base
***************/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color-grey-dark);
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/***************
 Typography
***************/
h1 { font-weight: bold; font-size: 2rem; }
.mono { font-family: 'Roboto Mono', monospace; }

/***************
 Sections
***************/
.header {
    background-color: var(--color-brand);
    color: white;
}
