

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>A trusted partner to the best</h2>
				</header>
				<p>If you want to build a lightweight, robust and scalable platform, or if you want to move your existing application estate to the cloud and unlock the enormous untapped value, Mechanical Rock has the right solution for you.</p>
        <a id="why"></a>
				<hr />
				<div class="row">
					<section class="4u">
						<span class="pennant"><span class="mechrocklogo"><img src='https://cloud.google.com/_static/images/cloud/icons/favicons/onecloud/apple-icon.png' width="100px alt="hey"></span></span>
						<h3>Why GCP?</h3>
            <ul>
              <li>Private Global Fiber Network</li>
              <li>Scalable</li>
              <li>Infrastructure As Code</li>
              <li>Automatic Deployment</li>
              <li>Improved Performance</li>
              <li>Fault Tolerant</li>
            </ul>
						<a href='https://cloud.google.com/gcp'  target="_blank" class="button button-style1">Read More</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="mechrocklogo"><img src='https://avatars1.githubusercontent.com/u/30029532?s=200&v=4' width="100px alt="hey"></span></span>
						<h3>Why Mechanical Rock?</h3>
						<ul>
              <li>Trusted Partner</li>
              <li>Proven Migration Patterns</li>
              <li>Skills and knowledge transfer</li>
              <li>Cost Efficient</li>
              <li>Faster Delivery Cycles</li>
              <li>Following Industries Best Practices</li>
            </ul>
						<a href="https://www.mechanicalrock.io/"  target="_blank" class="button button-style1">Read More</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="mechrocklogo"><img src="https://cdn-images-1.medium.com/max/1200/1*Q37Sxg8-jJ5-4vxQCHi9Ng.png" width="100px" alt="hey"></span></span>
						<h3>Why GKE?</h3>
            <ul>
              <li>Load-balancing for Compute Engine instances</li>
              <li>Node pools for additional flexibility</li>
              <li>Auto scaling</li>
              <li>Auto upgrades for nodes' software</li>
              <li>Auto-repair to maintain availability</li>
              <li>Logging and Monitoring for visibility</li>
            </ul>
						<a href="https://cloud.google.com/kubernetes-engine/" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>

	<!-- Main -->
    <a id="video"></a>
		<div id="main">
			<div id="content" class="container">
        
        
				 <div class="row">
					<section class="12u" style="text-align:center;">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/pfxEfeXQrzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<!-- <a href="#" class="image full"><img src="images/pic01.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic02.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p> -->
					</section>
				</div>

				<!-- <div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic03.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic04.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
				</div> -->
			
			</div>
		</div>

		<div id="tweet">
			<div class="container">
        <h1>A trusted partner to the best</h1>
				<section>
					<blockquote>&ldquo;Working with the industries best and brightest minds to deliver outstanding results&rdquo;</blockquote>
				</section>
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<section>
					<header>
            <a id="contact"></a>
						<h2>Get in touch</h2>
						<span class="byline"><a href="https://www.mechanicalrock.io/#/">www.mechanicalrock.io</a></span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>

		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
