

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>A trusted partner to the best</h2>
				</header>
				<p>If you want to build a lightweight, robust and scalable platform, or if you want to move your existing application estate to the cloud and unlock the enormous untapped value, Mechanical Rock has the right solution for you.</p>
        <a id="why"></a>
				<hr />
				<div class="my-row">
					<section>
						<span class="pennant"><span class="mechrocklogo"><img src='https://cloud.google.com/_static/images/cloud/icons/favicons/onecloud/apple-icon.png' width="100px alt="hey"></span></span>
						<h3>Why GCP?</h3>
            <ul>
              <li>Private Global Fiber Network</li>
              <li>Scalable</li>
              <li>Infrastructure As Code</li>
              <li>Automatic Deployment</li>
              <li>Improved Performance</li>
              <li>Fault Tolerant</li>
            </ul>
						<a href='https://cloud.google.com/gcp'  target="_blank" class="button button-style1">Read More</a>
					</section>
					<section>
						<span class="pennant"><span class="mechrocklogo"><img src='https://avatars1.githubusercontent.com/u/30029532?s=200&v=4' width="100px alt="hey"></span></span>
						<h3>Why Mechanical Rock?</h3>
						<ul>
              <li>Trusted Partner</li>
              <li>Proven Migration Patterns</li>
              <li>Skills and knowledge transfer</li>
              <li>Cost Efficient</li>
              <li>Faster Delivery Cycles</li>
              <li>Following Industries Best Practices</li>
            </ul>
						<a href="https://www.mechanicalrock.io/"  target="_blank" class="button button-style1">Read More</a>
					</section>
					<section>
						<span class="pennant"><span class="mechrocklogo"><img src="https://cdn-images-1.medium.com/max/1200/1*Q37Sxg8-jJ5-4vxQCHi9Ng.png" width="100px" alt="hey"></span></span>
						<h3>Why GKE?</h3>
            <ul>
              <li>Load-balancing for Compute Engine instances</li>
              <li>Node pools for additional flexibility</li>
              <li>Auto scaling</li>
              <li>Auto upgrades for nodes' software</li>
              <li>Auto-repair to maintain availability</li>
              <li>Logging and Monitoring for visibility</li>
            </ul>
						<a href="https://cloud.google.com/kubernetes-engine/" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>

	<!-- Main -->
	<div id="main" id="video">
		<iframe width="100%" height="auto" src="https://www.youtube.com/embed/pfxEfeXQrzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div id="tweet">
		<div class="container">
			<h1>A trusted partner to the best</h1>
			<section>
				<blockquote>&ldquo;Working with the industries best and brightest minds to deliver outstanding results&rdquo;</blockquote>
			</section>
		</div>
	</div>

	<footer id="footer">
		<div class="container" id="contact">
				<header>
					<h2>Get in touch</h2>
					<span class="byline"><a href="https://www.mechanicalrock.io/#/">www.mechanicalrock.io</a></span>
				</header>

				<ul class="contact">
					<li><a href="https://twitter.com/mechanicalrock_?lang=en" target="Twitter | Mechanical Rock" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.linkedin.com/company/mechanical-rock/" target="LinkedIn | Mechanical Rock" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
				</ul>
		</footer>
	</div>
