@{
    ViewData["Title"] = "Mechanical Rock | GCP On-Board";
}

<main>
    <section class="header">
        <header>
            <h1>HEADER SECTION</h1>
        </header>

        <img src="/img/logos/gcp-mr-merge.png" alt="Mechanical Rock logo surrounded by Google Cloud Services">
    </section>

    <aside>
        <a href="#about">About</a>
        <a href="#contact">Contact Us</a>
    </aside>

    <section id="about" class="about">
        <header>
            <h2>About</h2>
        </header>

        ... Content
    </section>

    <section id="contact" class="contact">
        <header>
            <h2>Contact</h2>
        </header>

        ... Content
    </section>
</main>

<footer>
  <span style="padding: 1em"><a href="#">Link xxx/a></span>
  <span style="padding: 1em"><a href="#">Link xxx</a></span>
  <span style="padding: 1em"><a href="#">Link xxx</a></span>
  <span style="padding: 1em"><a href="#">Link xxx</a></span>
</footer>
