

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>A trusted partner to the best</h2>
				</header>

				<p>If you want to build a lightweight, robust and scalable platform, or if you want to move your existing application estate to the cloud and unlock the enormous untapped value, Mechanical Rock has the right solution for you.</p>

				<hr />

				<header id="why">
					<h2>Why? (Why Not?)</h2>
				</header>

				<div class="my-row">
					<section>
						<span class="pennant"><span class="mechrocklogo"><img src='https://cloud.google.com/_static/images/cloud/icons/favicons/onecloud/apple-icon.png' width="100px alt="hey"></span></span>
						<div class="heading">Why GCP?</div>
            <ul>
              <li>Private Global Fiber Network</li>
              <li>Scalable</li>
              <li>Infrastructure As Code</li>
              <li>Automatic Deployment</li>
              <li>Improved Performance</li>
              <li>Fault Tolerant<br /><br /></li>
            </ul>
						<a href='https://cloud.google.com/gcp' target="_blank" class="button button-style1">Read More</a>
					</section>

					<section>
						<span class="pennant"><span class="mechrocklogo"><img src='https://avatars1.githubusercontent.com/u/30029532?s=200&v=4' width="100px alt="hey"></span></span>
						<div class="heading">Why Mechanical Rock?</div>
						<ul>
              <li>Trusted Partner</li>
              <li>Proven Migration Patterns</li>
              <li>Skills and knowledge transfer</li>
              <li>Cost Efficient</li>
              <li>Faster Delivery Cycles</li>
              <li>Following Industries Best Practices<br /><br /></li>
            </ul>
						<a href="https://www.mechanicalrock.io/"  target="_blank" class="button button-style1">Read More</a>
					</section>

					<section>
						<span class="pennant"><span class="mechrocklogo"><img src="https://cdn-images-1.medium.com/max/1200/1*Q37Sxg8-jJ5-4vxQCHi9Ng.png" width="100px" alt="hey"></span></span>
						<div class="heading">Why GKE?</div>
            <ul>
              <li>Load-balancing for Compute Engine instances</li>
              <li>Node pools for additional flexibility</li>
              <li>Auto scaling</li>
              <li>Auto upgrades for nodes' software</li>
              <li>Auto-repair to maintain availability</li>
              <li>Logging and Monitoring for visibility</li>
            </ul>
						<a href="https://cloud.google.com/kubernetes-engine/" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>

	<!-- Main -->
	<div id="main">
		<iframe id="video" width="100%" height="auto" src="https://www.youtube.com/embed/cLSnfhsEwX8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div id="tweet">
		<div class="container">
			<header>
				<h2 style="color: white">A trusted partner to the best</h2>
			</header>

			<section>
				<blockquote>&ldquo;Working with the industries best and brightest minds to deliver outstanding results&rdquo;</blockquote>
			</section>
		</div>
	</div>

	<footer id="footer" style="background-color: #1f191a; padding-bottom: 1em; padding-top: 4em;">
		<div class="container" id="contact">
				<header>
					<h2>Get in touch</h2>
					<span class="byline"><a href="https://www.mechanicalrock.io/#/">www.mechanicalrock.io</a></span>
				</header>

				<div class="love-wrapper">
					<span>Built with </span>
					<span class="fa fa-heart"> </span>
					<span>by </span>
					<img src="/mr_horizontal_white.png" alt="Mechanical Rock logo" style="height: 2.5em; margin-left: 0.2em" />
				</div>

				<ul class="contact">
					<li><a href="https://twitter.com/mechanicalrock_?lang=en" target="Twitter | Mechanical Rock" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.linkedin.com/company/mechanical-rock/" target="LinkedIn | Mechanical Rock" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
				</ul>
	</div>
	<div class="container">
		<p class="legal-text">©2018 Google LLC All rights reserved. Google and the Google logo are registered trademarks of Google LLC.</p>
	</div>
</footer>
